@model ProductResponse
@{
    ViewData["Title"] = " Catalog - Part Store";
}
<section id="fon-anim">
    <div class="containerr">
        <div class="product-page">
            <h2 class="product-title">@Model.Name</h2>
            <div>
                <div class="product-nav">
                    <ul class="product-nav-list">
                        <li><a href="#about">Про товар</a></li>
                        <li><a href="#characteristics">Характеристики</a></li>
                        <li><a href="#description">Опис</a></li>
                    </ul>
                </div>
                <div class="product-box" id="about">
                    <img class="product-img"
                         src="@Url.Content("~/productFiles/img/" + Model.Images.First().Path)"
                         alt="@Model.Name"/>
                    <div class="product-main-descriprion">
                        <div>
                            <p class="product-main-price">Price: @Model.Price</p>
                            <p class="">
                                Товар має гарантію протягом <br />12 місяців з моменту
                                купівлі.
                            </p>
                        </div>
                        @if (Model.Quantity > 0) {
                            <a class="product-main-btn" asp-area="" asp-controller="Cart" asp-action="AddProduct" asp-route-id="@Model.Id">Add to Cart</a>
                        }
                        else {
                            <a class="product-main-btn">Product sold</a>
                        }
                    </div>
                </div>
            </div>
            <h2 class="product-title" id="characteristics">
                Технічні характеристики:
            </h2>
            <div>
                <table class="characteristics-table">
                    <caption>
                        Технічні характеристики
                    </caption>
                    @foreach (var item in Model.Features)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Value</td>
                        </tr>
                    }
                </table>
            </div>
            <h2 class="product-title" id="description">Опис: </h2>

            <div>
                <p class="product-main-description">
                    @Model.Description
                </p>
            </div>
            <h2 class="product-title" id="comment">Коментарі до <span class="color-brand">@Model.Name:</span></h2>

            <div class="comments-block">
                <ul class="comments-list">
                    @foreach (var comment in Model.Comments)
                    {
                        <li class="comment color-brand">
                            @comment.CustomerName <span class="color-primary">@comment.Value</span>
                        </li>
                    }
                </ul>
                <div class="create-comment-block">
                    <form asp-action="AddComment" class="comment-form" id="comment-form">
                        <input type="hidden" name="productId" value="@Model.Id">
                        <label class="label-comment" for="comment-text">New Comment:</label>
                        <textarea class="comment-text"
                                  id="comment-text"
                                  rows="3"
                                  cols="50"
                                  maxlength="60"
                                  name="commentValue"
                                  required></textarea>
                        <button class="comment-btn color-primary" type="submit">Add Comment</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>